body{
    background-color: #000000;
}
#logo{
    position: fixed;
    top: 0;
    width: 70%;
}
#ashstart{
    position: fixed;
    top: 4.5%;
    width: 23%;
    right: 5%;
}
#faltu{
    position: fixed;
    bottom: 0;
    z-index: -3;
}
#bgstart{
    position: absolute;
    top: 3%;
    right: 0;
    left: 0;
    z-index: -2;
    width: 100%;
}
#name{
    position: fixed;
    top: 8%;
    left: 20%;
    width: 40%;
}