@font-face {
  font-family: 'PokemonEmerald';
  src: url('/fonts/pokemon-emerald.otf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  font-family: 'PokemonEmerald', sans-serif;
  letter-spacing: 1px;
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  font-smooth: never;
}

#first {
  position: fixed;
  left: 0;
  right: 0;
  color: #FFFFFF;
  text-align: justify;
  display: flex;
  justify-content: center;
  animation: comgo 8s ease forwards;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes comgo {
  0% {
    opacity: 0;
  }
  
  25% {
    opacity: 1;
  }
  
  75% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}


#logo {
  height: 100%;
}

#logod {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  height: 70%;
  display: flex;
  justify-content: center;
  padding: 2%;
  opacity: 0;
  animation: comgo 5s ease forwards;
  animation-delay: 10s;
}

#start {
  max-width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  height: auto;
  animation: baja 5s ease forwards;
  animation-delay: 17s;
  opacity: 0;
  margin-top: 4.4%;
}

@keyframes baja {
  0% {
    opacity: 0;
    filter: contrast(0%);
  }
  
  5% {
    opacity: 1;
    filter: contrast(0%);
  }
  
  10% {
    opacity: 0;
    filter: contrast(0%);
  }
  
  50% {
    opacity: 1;
    filter: contrast(50%);
  }
  
  100% {
    opacity: 1;
    filter: contrast(100%);
  }
}

#bash {
  position: fixed;
  width: 23%;
  right: 5%;
  top: 23%;
  animation: acm 9s ease forwards;
  animation-delay: 15s;
  opacity: 0;
}

@keyframes acm {
  0% {
    opacity: 0;
    filter: contrast(0%);
  }
  
  2% {
    opacity: 1;
    filter: contrast(0%);
  }
  
  4% {
    opacity: 0;
    filter: contrast(0%);
  }
  
  65% {
    opacity: 1;
    filter: contrast(100%);
  }
  
  100% {
    opacity: 0;
  }
}

#start1 {
  max-width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  height: auto;
  animation: aaja 7s ease forwards;
  animation-delay: 20s;
  opacity: 0;
}


@keyframes aaja {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

#block {
  position: fixed;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

#block::after {
  content: "";
  position: absolute;
  top: -150%;
  left: -150%;
  width: 300%;
  height: 300%;
  background: linear-gradient(45deg,
      transparent 47%,
      white 50%,
      transparent 52%);
  transform: translate(-50%, 50%);
  animation: shine 10s linear infinite;
  animation-delay: 19s;
}

@keyframes shine {
  0% {
    transform: translate(-60%, 60%);
    opacity: 0;
  }
  
  16% {
    opacity: 1;
  }
  
  25% {
    transform: translate(60%, -60%);
    opacity: 0;
  }
  
  75% {
    transform: translate(-60%, 60%);
    opacity: 0;
  }
  
  83% {
    opacity: 1;
  }
  
  100% {
    transform: translate(60%, -60%);
    opacity: 0;
  }
}


footer {
  position: fixed;
  top: 90%;
  color: #FFFFFF;
  font-weight: bolder;
  text-shadow:
    -1px -1px 0 #FF0000,
    1px -1px 0 #FF0000,
    -1px 1px 0 #FF0000,
    1px 1px 0 #FF0000;
  opacity: 0;
  animation: come 5s ease forwards;
  animation-delay: 25s;
}

@keyframes come {
  to {
    opacity: 1;
  }
}

#pst {
  position: fixed;
  top: 65%;
  left: 6%;
  color: #FFFFFF;
  background: #42445A7A;
  border-radius: 10px;
  padding: 1vh;
  animation: come 3s ease forwards;
  animation-delay: 28s;
  opacity: 0;
}

.frame {
  width: 100%;
  max-width: 100vw;
  height: auto;
  aspect-ratio: 16 / 9;
  border: none;
  display: block;
  margin: auto;
}

#controls {
  color: #FFFFFF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#A,
#B,
#L,
#R {
  position: fixed;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 40px;
  height: auto;
  text-align: center;
  border: 2px solid #FFFFFF;
  text-align: justify;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#A{
  bottom: 20%;
}